fonts/.local/share/fonts/HackNerdFont/.uuid
fonts/.local/share/fonts/Iosevka/.uuid
fonts/.local/share/fonts/JetBrainsNerdFont/.uuid
fonts/.local/share/fonts/.uuid
nvim/.config/nvim/lua/packer_compiled.lua
